/**
 * Body Structure
 */
 body {
	background-image: url("../images/brick.jpg");
	font-family: 'Open Sans', sans-serif;
	color: black;
}

.head{
	color:rgb(247, 0, 255);
	text-align: center;
	padding-top: 5%;
	font-size:350%;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Courgette', cursive;


}