body{
    background-image: url("../images/llist.jpg");
    text-align:left;
    color: aliceblue;
    font-family:'Source Sans Pro', sans-serif;
    margin-left: 20%;
    font-size:150%;
}
h1{
    border-width: 70%;
    border-color: rgb(245, 117, 206);
 }
 #name {
    width:80%;
    height:50px;
    border-radius: 3%;
}

button{
    width: 8%;
    height: 40px;
    background-color: pink;
}
